:root {
    --purple-one: rgb(146, 1, 139);
    --ciano-one: #00d3be;
    --purple-two: rgb(212, 2, 160);
    --ciano-two: rgb(1, 145, 137);
    --black-one: #000;
    --white-one: rgb(255, 255, 255);
    --gray-one: rgb(75, 75, 75);
}
* {
    box-sizing: border-box;
}
body {
    padding: 0%;
    margin: 0%;
}
body,
h1, h2, h3, h4, h5, h6,
p,
a,
form,
span,
label,
input,
button {
    font-family: 'DM Sans', sans-serif;
}